/* Style for the homepage container */
.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px); /* Adjust height to account for the fixed header */
    padding: 20px;
    background-color: #f9f9f9;
}

/* Style for the message */
.home-container p {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin: 0;
}
