/* Style for the login container */
.login-container {
    max-width: 400px;
    margin: 80px auto; 
    padding: 150px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

/* Style for the form */
form {
    display: block;
    flex-direction: column;
    gap: 15px;
}

/* Style for input fields */
input[type="text"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

/* Style for submit button */
input[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Style for the registration link */
p {
    text-align: center;
    font-size: 16px;
}

p a {
    color: #007bff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

/* Additional style to prevent overlap */
.login-container {
    margin-top: 80px; /* Adjust this value if needed */
}