/* Style for the registration container */
div {
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

/* Style for the heading */
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Style for the form */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Style for each form group */
div > div {
    display: flex;
    flex-direction: column;
}

/* Style for labels */
label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

/* Style for input fields */
input[type="text"],
input[type="password"],
input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

/* Style for the submit button */
button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}

/* Style for error messages */
p {
    color: red;
    text-align: center;
}