.register-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 0px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    gap: 0px; /* Optional: Adds space between fields */
}

.form-group label {
    display: block;
    margin-bottom: 0px;
    font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.form-group textarea {
    resize: vertical;
    height: 100px;
}

.form-group.double {
    display: flex;
    justify-content: space-between;
}

.form-group.double .form-group-item {
    flex: 1;
}

.form-group.double .form-group-item:first-child {
    margin-right: 10px;
}

.submit-button {
    display: inline-block;
    padding: 10px 0px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

/* Style for the dropdown button */
.dropdown-toggle {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    text-align: left;
    border-radius: 4px;
    font-size: 16px;
}

.dropdown-toggle:hover {
    background-color: #0056b3;
}

/* The dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-height: 200px;
    overflow-y: auto;
}

/* Show the dropdown content when the button is clicked */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Style the checkboxes and labels inside the dropdown */
.dropdown-content div {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.dropdown-content div:last-child {
    border-bottom: none;
}

.dropdown-content div:hover {
    background-color: #f1f1f1;
}


